.contenedor{
  background: red;
  border:1px solid blue;
  overflow: hidden;
  clear: both;
}

h1{
  text-align: center;
}

li{
  float: left;
  height: 40px;
  margin: 20px;
}

.img_2{
  float: right;
  margin: 0em 2em;
  border: 1px solid black;
  width: 200px;
}
.img_3{
  float: left;
  margin: 0em 2em;
  border: 1px solid black;
  width: 200px;
}
